.form__container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px 30px;
    min-height: calc(100vh - 75px);
    background-color:white;
}

.form__box{
    background-color: rgba(255, 255, 255, 0.1) ;
    border-radius: 40px;
    color: white;
    padding: 40px 48px 20px;
    min-height: 500px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.form__input{
    width: 80%;
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    font-size: 14px;
    margin-bottom: 20px;
    padding: 0px 20px;
    outline: none;
    height: 50px;
}

.form__button{
    background-color: black;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer; 
    font-weight: bold;
    font-size:16px;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    padding-right: 50px;
    padding-left: 50px;
}