body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile {
  display: none;
}

.desktop {
  display: none;
}

.error__input{
  color: red;
  font-size: 10px;
}

@media only screen and (max-width: 920px){
  .mobile{
      display: flex;
  }
}

@media only screen and (min-width: 921px){
  .desktop{
      display: flex;
  }

  .font__size--desktop{
    font-size: 20px;
  }
}
